@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

:root {
  --header-height: 3.5rem;
  --first-color: hsl(230, 75%, 56%);
  --title-color: hsl(230, 75%, 15%);
  --text-color: hsl(230, 12%, 40%);
  --body-color: hsl(230, 100%, 98%);
  --container-color: hsl(230, 100%, 97%);
  --border-color: hsl(230, 25%, 80%);
  --body-font: "Syne", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/*scrollbar*/


body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #0d6efd;
  --sb-size: 12px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

/*main*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}


body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*header*/

#menu-toggle {
  display: none;
}

.sidenav {
  height: 83%;
  margin-top: 5rem;
  margin-left: 1rem;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1000;
  border-radius: 20px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
}

.input {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: transparent;
  justify-content: center;
  border-radius: 5px;
}

.value {
  background-color: transparent;
  border: none;
  padding: 10px;
  color: #000;
  display: flex;
  align-items: center;
  position: relative;
  gap: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.value:not(:active):hover,
.value:focus {
  opacity: 0.5;
}

.value:focus,
.value:active {
  outline: none;
}

.value::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  width: 5px;
  height: 80%;
  background-color: #2F81F7;
  border-radius: 5px;
  opacity: 0;
}

.value:focus::before,
.value:active::before {
  opacity: 1;
}

.value svg {
  width: 20px
}

.value a{
  color: #000;
}

.logout {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  font-size: larger;
  margin-left: 10px;
}

.logout:hover{
  opacity: 0.7;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #818181;
  cursor: pointer;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

.checkmark span {
  display: block;
  height: 5px;
  width: 100%;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.3s;
  width: 32px;
  height: 2px;
  background-color: white;
  position: absolute;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.checkmark span:nth-child(1) {
  top: 10%;
  background-color: #000;
}

.checkmark span:nth-child(2) {
  top: 50%;
  background-color: #000;
}

.checkmark span:nth-child(3) {
  top: 90%;
  background-color: #000;
}

#menu-toggle:checked ~ .sidenav {
  width: 250px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.ms-2.form-control{
  width: 80%;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.nav__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  font-size: 16px;
}

.nav__dropdown {
  display: none;
  position: absolute;
  top: 65%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
  width: 7%;
}

.nav__logo{
  height: 6rem;
  width: 5rem;
}

.nav__dropdown-item:hover{
  opacity: 0.7;
}

.nav__dropdown-item a {
  color: #333;
  text-decoration: none;
  display: block;
}

.nav__dropdown-item {
  padding: 10px;
  display: flex;
}

.nav__logo img {
  display: block;
  max-width: 100%;
}

.search,
.login {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: hsla(230, 75%, 15%, 0.1);
  backdrop-filter: blur(24px);
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
}

.search__close,
.login__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.content {
  position: relative;
  padding-top: calc(var(--header-height) + 20px);
  z-index: 800;
}


.form-container {
  margin-top: 20px;
  z-index: 850;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, 0.15);
  z-index: 1000;
}

.nav {
  height: var(--header-height);
  align-items: center;
  z-index: 900;
}

.floating-alert {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 90%;
  text-align: center;
  transform: translateX(-50%);
  z-index: 1100;
}

.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__search,
.nav__login,
.nav__toggle,
.nav__close {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color 0.4s;
}

:is(.nav__logo, .nav__search, .nav__login, .nav__toggle, .nav__link):hover {
  color: var(--first-color);
}

@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    box-shadow: 0 8px 16px hsla(230, 75%, 32%, 0.15);
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top 0.4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

.show-menu {
  top: 0;
}

.search__form {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--container-color);
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, 0.2);
  padding-inline: 1rem;
  border-radius: 0.5rem;
  transform: translateY(-1rem);
  transition: transform 0.4s;
}

.search__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.search__input {
  width: 100%;
  padding-block: 1rem;
  background-color: var(--container-color);
  color: var(--text-color);
}

.search__input::placeholder {
  color: var(--text-color);
}

.show-search {
  opacity: 1;
  pointer-events: initial;
}

.show-search .search__form {
  transform: translateY(0);
}

.login__form,
.login__group {
  display: grid;
}

.login__form {
  background-color: var(--container-color);
  padding: 2rem 1.5rem 2.5rem;
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, 0.2);
  border-radius: 1rem;
  row-gap: 1.25rem;
  text-align: center;
  transform: translateY(-1rem);
  transition: transform 0.4s;
}

.login__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.login__group {
  row-gap: 1rem;
}

.login__label {
  display: block;
  text-align: initial;
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
}

.login__input {
  width: 100%;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--text-color);
}

.login__input::placeholder {
  color: var(--text-color);
}

.login__signup {
  margin-bottom: 0.5rem;
}

.login__signup a {
  color: var(--first-color);
}

.login__forgot {
  display: inline-block;
  color: var(--first-color);
  margin-bottom: 1.25rem;
}

.login__button {
  display: inline-block;
  background-color: var(--first-color);
  width: 100%;
  color: #fff;
  font-weight: var(--font-semi-bold);
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: box-shadow 0.4s;
}

.login__button:hover {
  box-shadow: 0 4px 24px hsla(230, 75%, 40%, 0.4);
}

.show-login {
  opacity: 1;
  pointer-events: initial;
}

.show-login .login__form {
  transform: translateY(0);
}

@media screen and (min-width: 576px) {
  .search,
  .login {
    padding-top: 10rem;
  }

  .search__form {
    max-width: 450px;
    margin-inline: auto;
  }

  .search__close,
  .login__close {
    width: max-content;
    top: 5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-size: 2rem;
  }

  .login__form {
    max-width: 400px;
    margin-inline: auto;
  }
}

@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .login__form {
    padding: 3rem 2rem 3.5rem;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}

/*settings*/

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773;
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}


.futuristic-form {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  margin: auto;
}

.futuristic-form p {
  font-size: 1.1em;
  margin-bottom: 20px;
  color: #000;
}

.radio-group {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.radio-group input[type="radio"] {
  display: none;
}

.radio-group label {
  background-color: #2a2f3d;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 255, 255, 0.3);
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 15rem;
}

.radio-group input[type="radio"]:checked + label {
  background-color: #0ab3c3;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.6);
}

.submit-button {
  width: 30%;
  padding: 12px;
  background-color: #0ab3c3;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.1em;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.submit-button:hover {
  background-color: #08a3b0;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.7);
}

/*profile*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

.card{
  width: 380px;
  border: none;
  border-radius: 15px;
  padding: 8px;
  background-color: #fff;
  position: absolute;
  width: 380px;
  top: 20%;
  left: 40%;
  height: 20rem;
}

.upper{
  height: 100px;
}

.upper img{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.user{
  position: relative;
}

.profile img{
  height: 80px;
  width: 80px;
  margin-top:2px;
}

.profile{
  position: absolute;
  top:-50px;
  left: 38%;
  height: 90px;
  width: 90px;
  border:3px solid #fff;
  border-radius: 50%;
}

.follow{
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  height: 35px;
}

.stats span{
  font-size: 29px;
}

.product-container {
  width: 18rem;
  height: 18rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  transition: ease-in-out 0.3s;
}

.product-container.m-2:hover{
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 60%;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.product-info {
  font-size: 14px;
  color: #555;
}

.radio-input * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.radio-input label {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0px 20px;
  width: 220px;
  cursor: pointer;
  height: 50px;
  position: relative;
}

.radio-input label::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 45px;
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 10px;
  border: 2px solid transparent;
}

.radio-input label:hover::before {
  transition: all 0.2s ease;
  background-color: #2a2e3c;
}

.radio-input .label:has(input:checked)::before {
  background-color: #2d3750;
  border-color: #435dd8;
  height: 50px;
}

.radio-input .label input[type="radio"] {
  background-color: #202030;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-input .label input[type="radio"]:checked {
  background-color: #435dd8;
  -webkit-animation: puls 0.7s forwards;
  animation: pulse 0.7s forwards;
}

.radio-input .label input[type="radio"]:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: #fff;
  transform: scale(0);
}

.radio-input .label input[type="radio"]:checked::before {
  transform: scale(1);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.modal-content, .deleteOptionsFloater {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  width: 90%;
}

/*sign-up*/

.container-sign-up {
  height: 100%;
  width: 98%;
  margin: 1rem;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin-top: 6rem;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.login-form form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  background: #9b59b6;
  border-color: #d9d9d9;
}

.profile-title{
  font-size: 20px;
  font-weight: 500;
}

.radio-group {
  display: flex;
}

.radio-label {
  display: flex;
  align-items: center;
  padding: 0.5em;
  margin-bottom: 0.5em;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 10rem;
  transition: background-color 0.2s, border-color 0.2s;
}

.radio-label:hover {
  background-color: #e6e6e6;
}

.radio-input {
  position: absolute;
  opacity: 0;
}

.radio-input:checked + .radio-label {
  background-color: #ffc3c3;
  border-color: #ff1111;
}

.radio-input:focus + .radio-label {
  outline: 2px solid #ff1111;
}

.radio-inner-circle {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 2px solid #888;
  border-radius: 50%;
  margin-right: 0.5em;
  transition: border-color 0.2s;
  position: relative;
}

.radio-label:hover .radio-inner-circle {
  border-color: #555;
}

.radio-input:checked + .radio-label .radio-inner-circle {
  border-color: #ff1111;
}

.radio-input:checked + .radio-label .radio-inner-circle::after {
  content: '';
  display: block;
  width: 0.5em;
  height: 0.5em;
  background-color: #ff1111;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn input{
  color: #fff;
}

form .btn.mt-2 {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: #fff;
  overflow: hidden;
}

form .btn.mt-2 input {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}

form .btn.mt-2::before,
form .btn.mt-2::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

form .btn.mt-2::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

form .btn.mt-2:hover::before {
  transform: translate3d(100%, 0, 0);
}

form .btn.mt-2:active {
  transform: scale(0.95);
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}
@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}

.image-overlay-hidden {
  display: none;
}

.image-overlay-visible {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1050;
  cursor: pointer;
}

.image-overlay-visible img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

.delete-floater-hidden {
  display: none;
}

.delete-floater-visible {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/*index*/

#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgb(247, 247, 247);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 2s ease, visibility 2s ease;
}

#splash-screen img {
  max-width: 100%;
  max-height: 100%;
}

#splash-screen.fade-out {
  opacity: 0;
  visibility: hidden;
}

.no-products-message {
  text-align: center;
  color: red;
  margin: 20px 0;
}

.hero {
  position: relative;
  height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  color: #fff;
}

.hero::before {
  content: '';
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('bg-pic.jpg') no-repeat center center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-content {
  padding: 20px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  padding-bottom: 15%;
}

.hero-content h1 {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  font-size: 2em;
}

.hero-content h1::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.3s ease-in-out;
}

.hero-content h1:hover::after {
  width: 100%;
}

.hero-content h2 {
  margin-top: 10px;
  font-size: 1.5em;
  color: #fff;
}

.scrolldown {
  --color: #000;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 2rem;
  cursor: pointer;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #2a547066;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }

  40% {
    opacity: 1;
    height: 10px;
  }

  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }

  100% {
    height: 3px;
    opacity: 0;
  }
}

.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

.gallery {
  padding: 20px;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
}

.filter-button {
  background-color: #fff;
  border: 2px solid #0d6efd;
  color: #0d6efd;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 5px;
  transition: all 0.3s ease;
}

.filter-button.active, .filter-button:hover {
  background-color: #0d6efd;
  color: #fff;
}

.gallery-item {
  position: relative;
  overflow: hidden;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.overlay h3 {
  margin: 0;
  font-size: 1.5em;
}

.overlay .links {
  margin-top: 10px;
}

.overlay .links a {
  color: #fff;
  background-color: #333;
  padding: 10px 20px;
  margin: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.overlay .links a:hover {
  background-color: #0d6efd;
}

/*back to the top bottom*/

.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(181, 160, 255);
  align-items: center;
}

.button:hover .svgIcon {
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.button::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: white;
  font-size: 0px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  transition-duration: 0.3s;
}
.button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.button:hover {
  background-color: #444;
}

.svgIcon {
  fill: #fff;
  width: 20px;
  height: 20px;
}

.blog-section {
  text-align: center;
  padding: 50px 0;
}

.blog-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.blog-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.blog-card {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 25rem;
}

.blog-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blog-content {
  padding: 20px;
  text-align: left;
}

.blog-content h3 {
  font-size: 18px;
  margin: 0 0 10px 0;
}

.blog-content p {
  font-size: 14px;
  color: #555;
  margin: 0 0 10px 0;
}

.blog-meta {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #888;
}

/*add product*/

.create-product-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.create-product-container h1 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #333;
}

.create-product-form {
  background-color: #f7f7f7;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

.create-product-form input, 
.create-product-form select, 
.create-product-form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  height: 3rem;
}

.create-product-form label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  color: #444;
}

.create-product-form .row {
  display: flex;
  gap: 20px;
}

.create-product-form .row .col {
  flex: 1;
}

.create-product-form button {
  background-color: #2b8dc9;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-product-form button:hover {
  background-color: #276b96;
}

.file-input {
  border: 2px dashed #ddd;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.color-field {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.item{
  flex: 1 1 auto;
}

.color-image{
  flex-basis: 100%;
}

/*preview_product*/

.body {
  margin-top: 4rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: #000;
  transition: background-color 0.5s ease-in-out;
}

.imgBx img {
  transition: opacity 0.5s ease-in-out;
}

.containe {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
  height: 600px;
  background: #fff;
  margin: 20px;
}

.containe .imgBx {
  position: relative;
  width: 60%;
  height: 100%;
  transition: .3s linear;
}

.containe .details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.containe .details h2{
  margin: 0;
  padding: 0;
  font-size: 2.4em;
  line-height: 1em;
  color: #444;
}

.containe .details h2 span {
  font-size: 0.4em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999;
}

.containe .details p {
  max-width: 85%;
  margin-left: 15%;
  color: #333;
  font-size: 15px;
  margin-bottom: 36px;
}

.containe .details h3 {
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  color: #a2a2a2;
  float: left;
}
.containe .details button {
  background: #000;
  color: #fff;
  border: none;
  outline: none;
  padding: 15px 20px;
  margin-top: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  float: right;
}

.product-colors span {
  width: 26px;
  height: 26px;
  top: 7px;
  margin-right: 12px;
  left: 10px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  display: inline-block;
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
}

.product-colors span.active {
  border-color: #333;
}

.product-colors .active:after{
  content: "";
  width: 36px;
  height: 36px;
  border: 2px solid #000;
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  left: -5px;
  top: -5px;
}

.room-name {
  position: absolute;
  top: 20px;
  left: 24px;
  opacity: 0.8;
  font-size: 2em; 
  font-weight: 800;
  color: black;
  z-index: 1;
}

.rating{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.rating > label {
  margin-right: 4px;
}

.rating:not(:checked) > input {
  display: none;
}

.rating:not(:checked) > label {
  float: right;
  cursor: pointer;
  font-size: 30px;
}

.rating:not(:checked) > label > svg {
  fill: #666;
  transition: fill 0.3s ease;
}

.rating > input:checked ~ label > svg {
  fill: #ffa723;
}

.rating:not(:checked) > label:hover ~ label > svg,
.rating:not(:checked) > label:hover > svg {
  fill: #ff9e0b;
}

#star1:hover ~ label > svg,
#star1:hover > svg {
  fill: #a23c3c !important;
}

#star2:hover ~ label > svg,
#star2:hover > svg {
  fill: #99542d !important;
}

#star3:hover ~ label > svg,
#star3:hover > svg {
  fill: #9f7e18 !important;
}

#star4:hover ~ label > svg,
#star4:hover > svg {
  fill: #22885e !important;
}

#star5:hover ~ label > svg,
#star5:hover > svg {
  fill: #1669e7 !important;
}

#star1:checked ~ label > svg {
  fill: #ef4444;
}

#star2:checked ~ label > svg {
  fill: #e06c2b;
}

#star3:checked ~ label > svg {
  fill: #eab308;
}

#star4:checked ~ label > svg {
  fill: #19c37d;
}

#star5:checked ~ label > svg {
  fill: #0d6efd;
}

/*footer*/

footer {
  background-color: #f9f9f9;
  color: #333;
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid;
}

footer div {
  max-width: 200px;
}

footer h3 {
  color: #0d6efd;
  margin-bottom: 20px;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  color: #333;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

footer .newsletter input[type="text"],
footer .newsletter input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

footer .newsletter input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #0d6efd;
  border: none;
  color: #fff;
  cursor: pointer;
}

footer .newsletter input[type="submit"]:hover {
  background-color: #0d6efd;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  border-radius: 50%;
}

.social-icons a:hover {
  background-color: #0d6efd;
  color: #fff;
  border-color: #0d6efd;
}